/build/
/cmake-build-*/

.idea/
/.vscode/
clion-*.txt

CMakeCache.txt
CMakeFiles/
cmakeFiles-*.json
codemodel-*.json
cache-*.json
target-*.json
CXXDependInfo.json
index-*.json
LastTest.log

build.ninja
.ninja_deps
.ninja_log

*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib

*.exe
*.out
*.app

*.log
*.tmp
*.cache
*.dd

.DS_Store
Thumbs.db

NeuralPlusPlus/
